.menu_bar {
    background: rgb(102, 51, 102);
    border-bottom: 3px solid #640411;
}

.example {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}

#tokyo_bert {
    max-width: 100%;
}

.resources>a {
    color: #fff;
    background: rgb(102, 51, 102);
    border: 1px solid #640411;
}

.res-links-card {
    top: 30%;
}

#intro-card {
    width: 75%;
}